@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.screen {
    @apply min-h-[1000px] relative bg-gray-200 flex justify-center p-5;
}

.logo_pos {
    @apply w-44 absolute;
}

.logo {
    @apply w-full h-full object-cover;
}

.login_box {
    @apply min-w-[400px] h-[400px] mt-32 relative bg-gray-100 border border-neutral-300 rounded-lg shadow-sm flex flex-col items-center;
}

.login_text {
    @apply text-3xl relative top-5 text-cya font-semibold;
}

.input_contain {
    @apply w-full min-h-[300px] relative mt-10 flex flex-col items-center;
}

.input {
    @apply w-4/5 h-12 mb-3 bg-white text-black border border-gray-300 resize-none rounded-lg px-4 py-2.5;
}

.login_btn_pos {
    @apply w-4/5 h-12 relative mt-5 flex;
}

.login_btn {
    @apply w-full h-full bg-cya hover:bg-yel hover:text-black text-2xl text-white font-bold rounded-lg shadow-sm focus:outline-none flex justify-center items-center;
}

.or {
    @apply text-2xl relative mt-5 text-black font-semibold;
}

.acct_btn_pos {
    @apply w-2/4 h-12 relative mt-3 flex;
}

.acct_btn {
    @apply w-full h-full bg-oran hover:bg-brn hover:text-black text-white font-bold rounded-lg shadow-sm focus:outline-none flex justify-center items-center;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}



