@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.post_bar {
    @apply w-[600px] h-[50px] relative bg-slate-300 rounded-lg shadow-sm flex items-center;
}

.profile_icon_pos {
    @apply w-8 relative rounded-full overflow-hidden mx-3;
}

.profile_icon {
    @apply w-full h-full object-cover;
}

.post_input_pos {
    @apply w-full h-full relative flex items-center;
}

.post_input {
    @apply w-full h-full resize-none border border-slate-300 rounded-tr-lg rounded-br-lg pl-4 pr-[200px] py-3;
}

.send_pos {
    @apply absolute right-3;
}

.send {
    @apply w-8 h-full fill-current text-neutral-500 hover:text-neutral-700;
}

.camera_pos {
    @apply absolute right-[60px];
}

.camera_icon {
    @apply w-8 fill-current text-neutral-500 hover:text-neutral-700;
}

.hi_pos {
    @apply absolute right-[110px];
}

.hi {
    @apply w-6 fill-current;
}

.lo_pos {
    @apply absolute right-[150px];
}

.lo {
    @apply w-5 fill-current;
}

.post_box {
    @apply w-[600px] bg-white border border-slate-300 relative justify-center rounded-lg shadow-sm flex-col mt-3;
}

.hi_post {
    @apply bg-green-300 border border-slate-300 relative rounded-lg shadow-sm flex-col mt-3;
}

.lo_post {
    @apply bg-red-300 border border-slate-300 relative rounded-lg shadow-sm flex-col mt-3;
}

.post_top {
    @apply w-full min-h-[50px] relative top-0 left-0 rounded-tl-lg rounded-tr-lg items-center;
}

.char_btn {
    @apply flex;
}

.char_pic {
    @apply w-8 absolute mt-2 left-3 rounded-full overflow-hidden object-cover;
}

.char_name {
    @apply text-black font-semibold absolute top-3 left-14;
}

.dates {
    @apply flex text-xs text-neutral-600 absolute right-5 top-4;
}

.content {
    @apply w-full bg-white relative mt-12 left-0 flex text-sm text-black p-4 border-t border-b border-slate-300;
}

.photo_pos {
    @apply w-full min-h-[000px] relative flex justify-center;
}

.photo {
    @apply relative max-h-[400px] min-w-[350px];
}

.react_bar {
    @apply w-full h-8 relative bg-white border-t border-b border-slate-300 flex items-center;
}

.reply_btn {
    @apply h-full w-1/3 relative flex justify-center items-center hover:bg-stone-200;
}

.reply_icon {
    @apply w-[15px] fill-current text-neutral-500;
}

.reply_text {
    @apply text-sm text-neutral-500 font-semibold p-1;
}

.like_click {
    @apply w-[15px] fill-current text-blue-500;
}

.num_likes {
    @apply w-10 h-full bg-amber-400 left-0 absolute text-black flex justify-center items-center;
}

.posts_bot {
    @apply w-full min-h-[80px] relative rounded-b-lg flex flex-col items-center;
}

.profile_icon_pos {
    @apply w-8 relative rounded-full overflow-hidden mx-3;
}

.profile_icon {
    @apply w-full h-full object-cover;
}

.comment_bar {
    @apply w-5/6 h-[50px] relative bg-slate-300 rounded-lg shadow-sm flex items-center mt-4;
}

.comment_input_pos {
    @apply w-full h-full relative flex items-center;
}

.comment_input {
    @apply w-full h-full resize-none border border-slate-300 rounded-tr-lg rounded-br-lg pl-4 pr-16 py-3 ;
}

.comment_box {
    @apply w-5/6 text-xs bg-white relative m-3 flex-col;
}

.comment_each {
    @apply py-3 flex border border-slate-300;
}

.comment_name {
    @apply text-xs font-bold mr-6;
}

.comment_text {
    @apply text-xs;
}

.send_pos {
    @apply absolute right-3;
}

.send {
    @apply w-8 h-full fill-current text-neutral-500 hover:text-neutral-700;
}

.load {
    @apply bg-oran hover:bg-orange-400 hover:text-black text-white font-semibold py-2 px-4 mt-5 rounded ;
}